<h2 class="mb-4">{{ chartTitle }}</h2>
<app-chart-controls (setDailyData)="prepareDailyChartData()" (setCumulativeData)="prepareCumulativeChartData()"
  (setBarChart)="showBarChart()" (setLineChart)="showLineChart()" (setDataInterval)="changeDataInterval($event)">
</app-chart-controls>
<ng-template [ngIf]="chartLoaded">
  <div class="chart-container panel p-3">
    <div class="chart p3">
      <canvas baseChart width="100%" [datasets]="ChartData" [labels]="ChartLabels" [legend]="ChartLegend"
        [options]="ChartOptions" [chartType]="ChartType"></canvas>
    </div>
  </div>
</ng-template>