<div class="container home-container pt-4">
  <div class="row">
    <div class="col-12 pt-4 pb-4">
      <h1 class="mb-4">Coronavirus in the UK</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="p-3 panel">
        <h5 class="heading-secondary text-red mb-4">An Independant dashboard for UK wide Coronavirus figures.</h5>
        <p class="mb-4">This website provides numeric, tabular and graphical representations of figures and statistics
          which can be used to track the current state of the pandemic.</p>
        <p class="mb-4">Statitics and Information used within this service have been made publicly available by Public
          Health England (<a href="https://coronavirus.data.gov.uk/" target="_blank">PHE</a>), The Department for Health
          and Social Care (<a href="https://www.gov.uk/government/organisations/department-of-health-and-social-care"
            target="_blank">DHSC</a>) and The NHS API developer <a href="https://developer.api.nhs.uk/"
            target="_blank">portal</a>.</p>
        <p class="mb-0">You can read the UK Governments official statement on Covid-19 <a
            href="https://www.gov.uk/coronavirus" target="_blank">here</a>.</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <ng-template [ngIf]="latestCovidMortalityStats">
        <app-single-stat-panel [title]="covidMortalityCumulativePanelTitle"
          [statistic]="latestCovidMortalityStats.uk_death_total" [date]="latestCovidMortalityStats.date">
        </app-single-stat-panel>
      </ng-template>
      <ng-template [ngIf]="latestCovidInfectionStats">
        <app-single-stat-panel [title]="covidCasesCumulativePanelTitle"
          [statistic]="latestCovidInfectionStats.uk_total_confirmed_cases" [date]="latestCovidInfectionStats.date">
        </app-single-stat-panel>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <ng-template [ngIf]="latestCovidMortalityStats">
        <app-single-stat-panel [title]="covidMortalityDailyPanelTitle"
          [statistic]="latestCovidMortalityStats.daily_uk_covid_deaths" [date]="latestCovidMortalityStats.date">
        </app-single-stat-panel>
      </ng-template>
    </div>
    <div class="col-sm-6 col-xs-12">
      <ng-template [ngIf]="latestCovidInfectionStats">
        <app-single-stat-panel [title]="covidCasesDailyPanelTitle"
          [statistic]="latestCovidInfectionStats.daily_confirmed_cases" [date]="latestCovidInfectionStats.date">
        </app-single-stat-panel>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="mb-4">About COVID-19</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-nhs-covid-info></app-nhs-covid-info>
    </div>
  </div>
</div>