<div class="container charts-container pt-4 pb-4">
  <ng-template [ngIf]="covidInfectionStatistics && covidMortalityStatistics">
    <app-mixed-chart [covidInfectionStatistics]="covidInfectionStatistics"
      [covidMortalityStatistics]="covidMortalityStatistics">
    </app-mixed-chart>
  </ng-template>
  <ng-template [ngIf]="covidMortalityStatistics">
    <app-single-chart [chartData]="covidMortalityStatistics" [chartTitle]="mortalityChartTitle"
      [dailyChartLabel]="mortalityDailyChartLabel" [cumulativeChartLabel]="mortalityCumulativeChartLabel">
    </app-single-chart>
  </ng-template>
  <ng-template [ngIf]="covidInfectionStatistics">
    <app-single-chart [chartData]="covidInfectionStatistics" [chartTitle]="casesChartTitle"
      [dailyChartLabel]="casesDailyChartLabel" [cumulativeChartLabel]="casesCumulativeChartLabel"></app-single-chart>
  </ng-template>
</div>